*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
background-image:"https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9";

}



body{

background:#f4f6f9;

}




.dashboard{

display:flex;
min-height:100vh;

}




/* SIDEBAR */


.sidebar{


width:260px;
background:#111827;
color:white;
padding:25px;

}




.logo{

text-align:center;
margin-bottom:30px;

}


.logo h2{

font-size:30px;

}


.logo p{

font-size:13px;
color:#cbd5e1;

}



.sidebar ul{

list-style:none;

}


.sidebar li{


padding:14px;
margin-bottom:8px;
border-radius:10px;
cursor:pointer;


}










/* MAIN */


.main{

flex:1;
padding:25px;

}




/* TOPBAR */


.topbar{


background:white;
padding:20px;

border-radius:15px;

display:flex;
justify-content:space-between;
align-items:center;


box-shadow:0 5px 15px rgba(0,0,0,0.08);


}



.topbar p{

color:#777;

}



.profile{


display:flex;
align-items:center;
gap:15px;

}


.profile img{


width:45px;
height:45px;

border-radius:50%;

}






/* WELCOME */


.welcome{

margin:25px 0;

}





/* CARDS */


.cards{


display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;


}





.card{


background:white;

padding:25px;

border-radius:15px;


box-shadow:0 5px 15px rgba(0,0,0,0.08);


}



.card h3{


color:#555;

}


.card h1{


margin-top:15px;

color:#111827;


}






/* LOWER BOX */


.dashboard-box{


margin-top:25px;

display:grid;

grid-template-columns:2fr 1fr 1fr;

gap:20px;


}





.box{


background:white;

padding:25px;

border-radius:15px;


box-shadow:0 5px 15px rgba(0,0,0,0.08);


}





.chart{


height:220px;

display:flex;

align-items:center;

justify-content:center;

background:#f1f5f9;

margin-top:20px;

border-radius:10px;


}



.orders{


margin-top:20px;

list-style:none;


}



.orders li{


padding:12px;

border-bottom:1px solid #ddd;


}







/* RESPONSIVE */


@media(max-width:1000px){


.cards{


grid-template-columns:repeat(2,1fr);

}



.dashboard-box{


grid-template-columns:1fr;

}



}





@media(max-width:700px){


.dashboard{


flex-direction:column;

}



.sidebar{


width:100%;


}



.cards{


grid-template-columns:1fr;


}



.topbar{


flex-direction:column;

gap:15px;


}

.main-content{

    flex:1;
    padding:40px;

    background:#f4f6f9;

}


/* CENTER IMAGE */

.center-image{

    height:500px;

    display:flex;

    justify-content:center;

    align-items:center;

}



/* RESPONSIVE IMAGE */

.center-image img{

    width:50%;
    max-width:400px;

    height:auto;

    object-fit:contain;

    opacity:0.9;

}





}