*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial;


}



body{


background:#f1f5f9;

padding:30px;


}




.container{


background:white;

padding:30px;

border-radius:15px;

box-shadow:0 10px 25px #ccc;


}





header{


display:flex;

justify-content:space-between;

margin-bottom:25px;


}





button{


padding:10px 18px;

background:#db2777;

color:white;

border:none;

border-radius:8px;

cursor:pointer;


}





table{


width:100%;

border-collapse:collapse;


}




th{


background:#db2777;

color:white;

padding:12px;


}




td{


padding:12px;

text-align:center;

border-bottom:1px solid #ddd;


}




.delete{


background:red;

}


.edit{


background:green;

}
